* text=auto

*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.ps1 text eol=lf
*.svg text eol=lf

*.pdf binary
*.doc binary
*.docx binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.icns binary
